.one-item {
  width: calc(100%-10px);
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px;
  border-top: 0.5px solid #cacaca;
}

.one-item:first-child {
  border-top: 0;
}

.item-name {
  font-size: 16px;
  color: gray;
}
.item-amount, .item-status {
  font-size: 12px;
  color: gray;
}

.one-item input {
  visibility: hidden;
  display: none;
}

.one-item .fas {
  color: #cacaca;
  font-size: 18px;
  /* font-size: 24px; */
  margin-left: 15px;
}

.item-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

.item-name:hover {
  color: #009688;
  /* font-size: 18px; */
}

.fa-shopping-cart:hover, .fa-home:hover{
  animation-name: wiggle;
  animation-duration: 2s;
}

.home-container input:checked + .fa-home {
  color: #009688;
}

.shop-container input:checked + .fa-shopping-cart {
  color: #ff7b72;
}

/* Pop-up animation */
@keyframes pop-up-visibility {
    0%   {opacity: 0;}
    25%  {opacity: 1;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}

.home-popup, .buy-popup  {
  font-size: 10px;
  background-color: white;
  width: 60px;
  text-align: center;
  position: absolute;
  z-index: 5;
  animation-name: pop-up-visibility;
  animation-duration: 2s;
}

@media (min-width: 426px) and (max-width: 1024px)  {

}

@media (min-width: 1024px) {
  .one-item {
    height: 40px;
    width: calc(92%/3);
    display: inline;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.5px solid #cacaca;
  }
  .one-item:first-child {
    border-top: 0.5px solid #cacaca;
  }
}
