.item-in-list {
  width: 85vw;
  margin: auto;
  position: relative;
  margin-top: 2vw;
  margin-bottom: 15vh;
  padding: 2.5%;
  background-color: white;
}

.add-item-button {
  position: absolute;
  padding: 0;
  z-index: 3;
  left: 40vw;
  bottom: -15px;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  border: 0;
  font-size: 20px;
  color: white;
  background-color: #ff7b72;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-item-button p {
  margin: 0;
}

@keyframes scaling {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}

.add-item-button:hover {
  animation-name: scaling;
  animation-duration: 2s;
}

@media (min-width: 426px) and (max-width: 1024px)  {
  .add-item-button {
    height: 6vw;
    width: 6vw;
    font-size: 25px;
    left: 42vw;
  }
}

@media (min-width: 1024px) {
  .add-item-button {
    height: 3vw;
    width: 3vw;
    left: 10vw;
    font-size: 25px;
    position: absolute;
    padding: 0;
    bottom: 45px;
  }

  .item-in-list {
    background: none;
  }

  .item-in-list h3 {
    text-align: left;
    color: #ff7b72;
  }
}
